

<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
   <!-- <p>Display the details of the Dish here</p>-->
   <div fxFlex >
    <mat-card  *ngIf="dish">
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>

  <div fxFlex="50">
   <!-- <p>Display the list of comments here</p>-->
   <div fxFlex >
   	
    <mat-card *ngIf="dish">
      <mat-card-header>
        <mat-card-title>
          <h3>Comments</h3>
        </mat-card-title>
      </mat-card-header>
      <!--<img mat-card-image src={{dish.image}} alt={{dish.name}}>-->
      <mat-card-content>
      	<mat-list *ngIf="dish">
        
        <mat-list-item *ngFor = "let comm of dish.comments">
               
               <span mat-line>{{comm.comment}}</span>
                
                <span mat-line>{{comm.rating}}</span>
                
                <span mat-line>{{comm.author}}</span>
               
                <span mat-line>{{comm.date | date}}</span>

            
           
        </mat-list-item>	
        </mat-list>
     </mat-card-content>
     <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>-->
    </mat-card>
  </div>
  </div>

</div>
